<% if @flight.errors.any? %>
<h2>The following errors occured</h2>
<ul>
  <% @flight.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_for @flight do |f| %>
  <p>
    <%= f.label :number %> <br/>
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :origin %> <br/>
    <%= f.text_field :origin %>
  </p>
  <p>
    <%= f.label :destination %> <br/>
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :date %> <br/>
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :time %> <br/>
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :price %> <br/>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to "Back to flights list", flights_path %>